<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

#adding partial file for the application
<%= render 'layouts/header' %> 

# adding container class for styling
<div class="container">
 <%= yield %>
</div>

</body>
</html>
